
@media screen and (max-width: 768px){
    *{
        box-sizing: border-box;

    }

    body{
        overflow-x:hidden;
    }
    .container{
        width:100%;
        padding: 0 15px;
    }

    nav{
        display:flex;
        flex-wrap:wrap;
        justify-content:Center;
        gap: 10px;
    }
    


    nav a{
        font-size:14px;
        padding:5px;
    }

    #home{
        display:flex;
        flex-direction:column;
        text-align:center;
        padding-top:80px;
    }

    .home-content,
    .home-img{
        width:100%;
    }
    .home-img img{
        width: 220px;
        height:220px;
        max-width: 100%;
        border-radius:50%;

    }

    h1{
        font-size:28px;
    }


}

    
