@media screen and (max-width:768px){

    /* Home */
    .container{ width:100%; }
    nav{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:10px;
    }

    /* About */
    .hire-container{
        flex-direction:column;
        align-items:center;
    }

    /* Contact */
    .contact-container{
        width:95%;
    }

    /* Projects */
    .project-container{
        flex-direction:column;
    }

    /* Success */
    .success-card{
        width:90%;
        padding:25px 20px;
    }
}