
@media (max-width: 768px){
    .hero{
        flex-direction: column;

    }

    .cards{
        display:grid;
        grid-template-columns: column;
        text-align:center;
    }
    nav{
        flex-direction:column;
    }


    h1{
        font-size:2rem;
    }
}