 <!DOCTYPE>
 <html>
    <head>
        <meta name = "viewport"
        content="width=device-width,
        initial-scale=1.0">

    

        <link  rel = "stylesheet" href = "{{url_for('static',filename='about.css')}}">
        <link  rel = "stylesheet" href = "{{url_for('static',filename='responsive.css')}}">


    </head>

    <body>
        <section id = "home">
        <nav>
            <a href = "/index">Home</a>
            <a href = "/about">About</a>
            <a href = "/skill">Skills</a>
            <a href = "/project">Projects</a>
        </nav>



    <section id = "About">
        <h1>ANKIT RAJ</h1>
        <div class = "skills-container">

        <div class = "card card1">
            
            <img src = "static/my image.jpeg" height="400" width = "100%">
            <h2>ANKIT RAJ</h2>
            <h3>Full Stack Developer</h3>


        
        
        </div>

    <div class = "card card2">
        <h1>ABOUT ME</h1>
        <H2>My Story: Full Stack Developer Journey</h2>
            <p>
                Hello! I'm Ankit Raj, a passionate Full Stack Developer and
                a student of <br>
                B.Sc. in Computer Science and Data Analytics(CSDA) at IIT Patna.
                <br></br>

                I am passionate about Web Development,Python Machine Learning,
                and Data Analytics.<br>
                I enjoy building responsive Websites and 
                Full-stack Web Applications using HTML, CSS,JavaScript, and Python.
                <br><br>

                My goal is to Continuously improve my technical skills and create 
                inovative solutions that solve real-world problems.
                I am always eager to learn new Technologies and take on chalanging
                projects.
            </p>

                <br></br>
                <br></br>
                <br></br>
                
            <div class = "logo">
                <img src = "static/api.png" alt = "Logo">
                <h3>FRONT-END & UI <br>
                Designing and building intutive,responsive user interfaces</h3> 
                <img src = "static/back.png" alt = "Logo">
                <h3>BACK-END ARCHITECTURE <br>
                    Creating efficient APIs microservices,and logic systems.</h3>
                    <br></br>
                    <br></br>

                </div>
                <div class = "logo">
                <img src = "static/database.png" alt = "Logo">
                <h3>
                    DATABASE & SECURITY <br>
                    Managing complex data schemas
                    and ensuring system integrity.
                </h3>
                <img src = "static/devops.png" alt = "logo">
                <h3>DEVOPS AND DEPLOYMENT <br>
                    Managing infrastructure scaling severs, and CI/CD pipelines

                </h3>
                </div>
            </div>   





    



    </body>
</html>