<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport"
        content="width=device-width",
        intial-scale=1.0">

        <title>Portfolio website</title>
        <link  rel = "stylesheet" href = "{{url_for('static',filename='style.css')}}">
        <link  rel = "stylesheet" href = "{{url_for('static',filename='responsive.css')}}">



    </head>
    <body>
        <section id = "home">
        <nav>
            <a href = "/index">Home</a>
            <a href = "/about">About</a>
            <a href = "/skill">Skills</a>
            <a href = "/project">Projects</a>
        </nav>
        <h1>Hello</h1>
        <h1> I`m Ankit Raj</h1>
        <h2>FullStack Developer</h2>

        <a href = "/contact" class = "hire-btn">Hire Me</a>

        <img src = "static/my image.jpeg" height = 250; weidth = 250; align = "right">

        

    </body>
</html>