<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport"
        content="width=device-width",
        intial-scale=1.0">

        <title>My Project</title>
        <link  rel = "stylesheet" href = "{{url_for('static',filename='project.css')}}">
        <link  rel = "stylesheet" href = "{{url_for('static',filename='responsive.css')}}">






    </head>
    <body>
        <nav>
            <a href = "/index">Home</a>
            <a href = "/about">About</a>
            <a href = "/skill">Skills</a>
            <a href = "/project">Projects</a>
        </nav>


        <section class = "hero">
        <h3> WELCOME TO MY</h3>
        <h1>WEB DEVELOPMENT PROJECTS<h1>
        </section>

        <div class = "project-card">
            

    
        
            <h2>Project1: Advanced Calculator With Several Features<h2/>
                <p>
                    I devoloped an Advanced Calculator using HTML,CSS,JavaScript,and Django,API,Databases.
                    This Calculator can perform basic and scientific calculations such as addition,subscription,currency conversion,history storage
                    this project helped me improve my Frontend and backend skills as well as API integration.
                </p>
    <div class = "project-box">
    <img src = "{{url_for('static',filename = 'Screenshot.png')}}" heigth= "600" width = "500">
    <br></br>
        
    <a href = "https://ankitrajkushwaha.github.io/Advanced-calculator/" class = "button">
        VIEW LIVE DEMO
        </a>
    
    <a href = "vidieo/calculator.mp4"
    class = "btn" target = "_blank">
    VIEW PROJECT VIDEO
    </a>
</div>
    <br></br>
    
            <div class = "logo">
                <img src = "static/calculator.webp" alt = "Logo">
                <h3>Scientific Calculator Functions<h3> 
                <img src = "static/curre.png" alt = "Logo">
                <h3>Currency Friendly Interface</h3>
                </div>
                <div class = "logo">
                <img src = "static/download.png" alt = "Logo">
                <h3>Responsive And User Friendly Interface</h3>
                <img src = "static/backend.png" alt = "logo">
                <h3> Backend Developed Using Flask<h3>
                </div>
            <ul>
                <p> 
                    Advanced Calculator App(Team Project)
                </p>
                <li>Developed an Advanced Calculator App as part of a 5 member team</li>
                <li>My work on this project is Frontend Development,designing and implementing the user interface</li>
                <li>Created responsive layouts and interactive calculator components using modern web technalogies</li>
                <li>collaborated with team members to integrate frontend and backend functionalities.</li>
                <li>Focused on improving user experience,usability and application performence.</li>
            </ul>


    </body>
</html>
</div>